<h1>
    <span ng-if="!ctrl.isNewUser">Settings</span>
    <span ng-if="ctrl.isNewUser">Register</span>
</h1>

<form name="userForm" role="form" class="form-horizontal">
    <fieldset>
        <legend>Your details</legend>
        <ng-form name="userDetailsForm">
            <div class="form-group" ng-class="{'has-error': userDetailsForm.userId.$invalid}">
                <label class="col-sm-4 control-label" for="user-id">Your username:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                        id="user-id" placeholder="Enter a name that will be used as public id."
                        ng-if="ctrl.isNewUser"
                        ng-model="ctrl.user.info.id"
                        ng-required="true"
                        ng-pattern="ctrl.userIdPattern"
                        ng-maxlength="20"
                        oep-uniq-id="true"
                        name="userId"
                    />
                    <input type="text" class="form-control"
                        id="show-user-id"
                        ng-if="!ctrl.isNewUser"
                        ng-model="ctrl.user.info.id"
                        disabled="true"
                    />
                    <strong class="help-block id-uniq-error" ng-show="userDetailsForm.userId.$error.oepUniqId">
                        Someone is already using this username.
                    </strong>
                    <strong class="help-block" ng-show="userDetailsForm.userId.$error.pattern">
                        Should only contain letters, numbers, "-" or "_".
                    </strong>
                    <strong class="help-block" ng-show="userDetailsForm.userId.$error.maxlength">
                        Your public id should be up to 20 characters long.
                    </strong>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': userDetailsForm.userName.$invalid}">
                <label class="col-sm-4 control-label" for="user-name">
                    Your screen name<span ng-show="!ctrl.isNewUser &amp;&amp; userDetailsForm.userName.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                        id="user-name" placeholder="Enter a name"
                        ng-model="ctrl.user.info.name"
                        required="true"
                        ng-maxlength="20"
                        name="userName"
                        ng-change="ctrl.update(ctrl.user.info, 'name', userDetailsForm.userName, userForm)"
                    />
                    <strong class="help-block" ng-show="userDetailsForm.userName.$error.maxlength">
                        Your screen name should be up to 20 characters long.
                    </strong>
                </div>
            </div>

            <ng-form name="genderForm">
                <div class="form-group" ng-class="{'has-error': genderForm.$invalid}">
                    <label class=" col-sm-4 control-label">
                        Your gender<span ng-show="!ctrl.isNewUser &amp;&amp; genderForm.$dirty">*</span>:
                    </label>
                    <div class="col-sm-8">
                        <label ng-repeat="genre in ctrl.options.gender.choices"
                            ng-attr-for="user-gender-{{genre.id}}" class="radio"
                        >
                            <ng-form name="genderChoiceForm">
                                <input type="radio" ng-attr-id="user-gender-{{genre.id}}"
                                    name="userGender" ng-required="true"
                                    ng-model="ctrl.user.info.gender" ng-value="genre.id"
                                    ng-change="ctrl.update(ctrl.user.info, 'gender', genderChoiceForm.userGender, userForm)"
                                /> {{genre.name}}
                            </ng-form>

                        </label>
                    </div>
                </div>
            </ng-form>

            <div class="form-group" ng-class="{'has-error': userDetailsForm.yearOfBirth.$invalid}">
                <label class="col-sm-4 control-label" for="year-of-birth">
                    Your year of birth<span ng-show="!ctrl.isNewUser &amp;&amp; userDetailsForm.yearOfBirth.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <select type="text" class="form-control"
                        name="yearOfBirth" id="year-of-birth"
                        ng-model="ctrl.user.info.yearOfBirth"
                        ng-options="opt.id as opt.name for opt in ctrl.options.yearOfBirth.choices"
                        required="true"
                        ng-change="ctrl.update(ctrl.user.info, 'yearOfBirth', userDetailsForm.yearOfBirth, userForm)"
                    >
                        <option value="">
                            Select a year...
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': userDetailsForm.school.$invalid}">
                <label class="col-sm-4 control-label" for="userSchool">
                    Your school<span ng-show="!ctrl.isNewUser &amp;&amp; userDetailsForm.school.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <select type="text" class="form-control"
                        name="school" id="userSchool"
                        ng-model="ctrl.user.info.school"
                        ng-options="opt.id as opt.name group by opt.group for opt in ctrl.options.schools.choices"
                        required="true"
                        ng-change="ctrl.update(ctrl.user.info, 'school', userDetailsForm.school, userForm)"
                    >
                        <option value="">
                            Select a school...
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.isNewUser">
                <div class="col-sm-offset-4 col-sm-8">
                    <button
                        type="submit" class="btn btn-default"
                        ng-click="ctrl.save(ctrl.user.info)"
                        ng-disabled="userForm.$invalid || ctrl.saving"
                    >
                        Register
                    </button>
                </div>
            </div>
        </ng-form>
    </fieldset>

    <fieldset ng-if="!ctrl.isNewUser">
        <legend>Report card details</legend>
        <ng-form name="reportCardForm">
            <div class="form-group" ng-class="{'has-error': reportCardForm.userCodeSchooldId.$invalid}">
                <label class="col-sm-4 control-label" for="user-code-schoold-id">
                    Your Code School username (or id)<span ng-show="reportCardForm.userCodeSchooldId.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                        id="user-code-schoold-id" placeholder="Enter your Code School username"
                        ng-model="ctrl.user.info.services.codeSchool.id"
                        eop-valid-code-school-username="true"
                        name="userCodeSchooldId"
                        ng-change="ctrl.update(ctrl.user.info, 'services.codeSchool.id', reportCardForm.userCodeSchooldId, userForm)"
                    />
                    <strong class="help-block" ng-show="reportCardForm.userCodeSchooldId.$error.eopValidCodeSchoolUsername">
                        This username is not valid or
                        <a ng-href="https://www.codeschool.com/users/{{ctrl.user.info.services.codeSchool.id}}">your profile</a> has not been made public.
                    </strong>
                    <span class="help-block">
                        You can find your username on your
                        <a href="https://www.codeschool.com/account/edit">
                            Code School account page.
                        </a>
                    </span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': reportCardForm.userTreehouseId.$invalid}">
                <label class="col-sm-4 control-label" for="user-tree-house-id">
                    Your Treehouse username<span ng-show="reportCardForm.userTreehouseId.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                        id="user-tree-house-id" placeholder="Enter your Treehouse username"
                        ng-model="ctrl.user.info.services.treeHouse.id"
                        eop-valid-treehouse-username="true"
                        name="userTreehouseId"
                        ng-change="ctrl.update(ctrl.user.info, 'services.treeHouse.id', reportCardForm.userTreehouseId, userForm)"
                    />
                    <strong class="help-block" ng-show="reportCardForm.userTreehouseId.$error.eopValidTreehouseUsername">
                        This username is not valid.
                    </strong>
                    <span class="help-block">
                        This is the end part of your Treehouse profile URL.
                        e.g.:<br/>
                        <var>http://teamtreehouse.com/<strong>chrisboesch</strong></var><br/>
                        Your Treehouse profile URL is available on
                        <a href="https://teamtreehouse.com/account">your Treehouse account page</a>.
                    </span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': reportCardForm.codeCombatName.$invalid}">
                <label class="col-sm-4 control-label" for="user-code-combat-name">
                    Your Code Combat username<span ng-show="reportCardForm.codeCombatName.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <input type="hidden" name="codeCombatId" ng-model="ctrl.user.info.services.codeCombat.id">
                    <input type="text" class="form-control" id="user-code-combat-name" placeholder="Enter your Code Combat username {{mycodecombat}}" ng-model="ctrl.user.info.services.codeCombat.name" eop-valid-code-combat-username="reportCardForm.codeCombatId" name="codeCombatName" ng-change="ctrl.update(ctrl.user.info, 'services.codeCombat.id', reportCardForm.codeCombatName, userForm)" />
                    <strong class="help-block" ng-show="reportCardForm.codeCombatName.$error.eopValidCodeCombatUsername">
                        This username is not valid.
                    </strong>
                    <div class="help-block">
                        <p>We can find it for you:</p>
                        <ol>
                            <li>Please visit <a href="" target="_blank">Code Combat</a> and register or login.</li>
                            <li>
                                <button type="submit" class="btn btn-default" ng-click="ctrl.checkForCodecombat(ctrl.user.info, 'services.codeCombat.id', reportCardForm.codeCombatName, userForm)">
                                    Find my Code Combat username!
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': reportCardForm.userGithubId.$invalid}">
                <label class="col-sm-4 control-label" for="user-github-id">
                    Your Github username<span ng-show="reportCardForm.userGithubId.$dirty">*</span>:
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                        id="user-github-id" placeholder="Enter your Github username"
                        ng-model="ctrl.user.info.services.github.id"
                        eop-valid-github-username="true"
                        name="userGithubId"
                        ng-change="ctrl.update(ctrl.user.info, 'services.github.id', reportCardForm.userGithubId, userForm);"
                    />
                    <strong class="help-block" ng-show="reportCardForm.userGithubId.$error.eopValidGithubUsername">
                        This username is not valid.
                    </strong>
                    <span class="help-block">
                        This is the end part of your Github profile URL.
                        e.g.:<br/>
                        <var>http://github.com/<strong>chrisboesch</strong></var><br/>
                        Your Github profile URL is available on
                        <a href="https://github.com">your Github page</a>.
                    </span>
                </div>
            </div>
        </ng-form>
    </fieldset>


    <div ng-if="!ctrl.isNewUser">

        <h2>Internships</h2>
        <hr/>
        <ng-form name="intershipsForm">
            <div class="form-group" name="intershipsForm">
                <label for="interested-in-internships" class="col-sm-4 control-label">
                    Interested in an internship<span ng-show="intershipsForm.interestedInInternships.$dirty">*</span>?
                </label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                id="interested-in-internships"
                                ng-model="ctrl.user.info.internship.interested"
                                name="interestedInInternships"
                                ng-change="ctrl.update(ctrl.user.info, 'internship.interested', intershipsForm.interestedInInternships, userForm)"
                            />
                            I'm interested in internships.
                        </label>
                    </div>
                </div>
            </div>

            <div ng-if="ctrl.user.info.internship.interested">
                <fieldset>
                    <legend>Companies</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Which companies would you like to intern at?</label>
                        <div class="col-sm-8">
                            <span class="help-block">
                                You can choose  up to 5 or enter additional companies.
                            </span>
                            <div class="checkbox" ng-repeat="name in ctrl.defaultCompanies">
                                <label>
                                    <ng-form name="companyForm">
                                        <input type="checkbox"
                                            ng-model="ctrl.user.info.internship.companies[name]"
                                            ng-disabled="!ctrl.user.info.internship.companies[name] &amp;&amp; ctrl.maxedIntership(ctrl.user.info.internship.companies)"
                                            name="company"
                                            ng-change="ctrl.update(ctrl.user.info, 'internship.companies['+name+']', companyForm.company, userForm)"
                                            />
                                        {{name}}<span ng-show="companyForm.company.$dirty">*</span>
                                    </ng-form>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>When would you like to intern?</legend>

                    <div class="form-group clearfix">
                        <label for="intership-start-1" class="col-sm-4 control-label">
                            First internship start<span ng-show="intershipsForm.intershipStart1.$dirty">*</span>:
                        </label>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <input type="date" id="intership-start-1" class="form-control"
                                ng-model="ctrl.user.info.internship.dates[0].start"
                                placeholder="yyyy-mm-dd"
                                ng-attr-min="{{ctrl.today}}"
                                ng-attr-max="{{ctrl.nextYear}}"
                                name="intershipStart1"
                                ng-change="ctrl.update(ctrl.user.info, 'internship.dates[0].start', intershipsForm.intershipStart1, userForm)"
                            />
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="intership-end-1" class="col-sm-4 control-label">
                            End<span ng-show="intershipsForm.intershipEnd1.$dirty">*</span>:
                        </label>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <input type="date" id="intership-end-1" class="form-control"
                                ng-model="ctrl.user.info.internship.dates[0].end"
                                placeholder="yyyy-mm-dd"
                                ng-attr-min="{{ctrl.user.info.internship.dates[0].start}}"
                                ng-attr-max="{{ctrl.nextYear}}"
                                name="intershipEnd1"
                                ng-change="ctrl.update(ctrl.user.info, 'internship.dates[0].end', intershipsForm.intershipEnd1, userForm)"
                            />
                        </div>
                    </div>

                    <div class="form-group clearfix" ng-if="ctrl.user.info.internship.dates[0].end">
                        <label for="intership-start" class="col-sm-4 control-label">
                            Second internship start<span ng-show="intershipsForm.intershipStart2.$dirty">*</span>:
                        </label>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <input type="date" id="intership-start-2" class="form-control"
                                ng-model="ctrl.user.info.internship.dates[1].start"
                                placeholder="yyyy-mm-dd"
                                ng-attr-min="{{ctrl.today}}"
                                ng-attr-max="{{ctrl.nextYear}}"
                                name="intershipStart2"
                                ng-change="ctrl.update(ctrl.user.info, 'internship.dates[1].start', intershipsForm.intershipStart2, userForm)"
                            />
                        </div>
                    </div>

                    <div class="form-group clearfix" ng-if="ctrl.user.info.internship.dates[0].end">
                        <label for="intership-end-1" class="col-sm-4 control-label">
                            End<span ng-show="intershipsForm.intershipEnd2.$dirty">*</span>:
                        </label>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <input type="date" id="intership-end-2" class="form-control"
                                ng-model="ctrl.user.info.internship.dates[1].end"
                                placeholder="yyyy-mm-dd"
                                ng-attr-min="{{ctrl.user.info.internship.dates[1].start}}"
                                ng-attr-max="{{ctrl.nextYear}}"
                                name="intershipEnd2"
                                ng-change="ctrl.update(ctrl.user.info, 'internship.dates[1].end', intershipsForm.intershipEnd2, userForm)"
                            />
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Notifications</legend>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                        ng-model="ctrl.user.info.internship.notification.choices"
                                        name="notifyChoice"
                                        ng-change="ctrl.update(ctrl.user.info, 'internship.notification.choices', intershipsForm.notifyChoice, userForm)"
                                        />
                                    Email me about my internship choices<span ng-show="intershipsForm.notifyChoice.$dirty">*</span>.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                        ng-model="ctrl.user.info.internship.notification.recommendations"
                                        name="notifyRecommendations"
                                        ng-change="ctrl.update(ctrl.user.info, 'internship.notification.recommendations', intershipsForm.notifyRecommendations, userForm)"
                                        />
                                    Email me about recommended internships<span ng-show="intershipsForm.notifyRecommendations.$dirty">*</span>.
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>
        </ng-form>
    </div>


</form>

<div ng-if="!ctrl.isNewUser">
    <h2>Courses</h2>
    <hr/>
    <form name="courseForm" role="form" class="form-horizontal">

        <div class="form-group" ng-class="{'has-error': courseForm.courseToRegister.$invalid}">
            <label class="col-sm-4 control-label" for="course-to-register">
                Select a course to register:
            </label>
            <div class="col-sm-8">
                <select type="text" class="form-control"
                    name="courseToRegister" id="course-to-register"
                    ng-model="ctrl.newCourse.selected.id"
                    ng-options="opt.id as opt.name for opt in ctrl.newCourse.available"
                >
                    <option value="">
                        Select a course...
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': courseForm.coursePassword.$invalid}" ng-show="ctrl.newCourse.selected.id">
            <label class="col-sm-4 control-label" for="course-password">Course password:</label>
            <div class="col-sm-8">
                <input type="password" class="form-control"
                    id="user-name" placeholder="Enter a course password"
                    ng-model="ctrl.newCourse.selected.pw"
                    required="true"
                    name="coursePassword"
                    oep-reset-errors="wrongPassword"
                />
                <strong class="help-block" ng-show="courseForm.coursePassword.$error.wrongPassword">
                    Wrong password.
                </strong>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button
                    type="submit" class="btn btn-default"
                    ng-click="ctrl.addCourse(ctrl.newCourse.selected, courseForm.coursePassword)"
                    ng-disabled="courseForm.$invalid || ctrl.saving"
                >
                    Join Course
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Your current courses:</label>
            <div class="col-sm-8">
                <ul class="list-unstyled">
                    <li class="help-block" ng-show="!ctrl.user.info.courses || ctrl.user.info.courses.length == 0">You have not joined any course yet.</li>
                    <li ng-repeat="course in ctrl.user.info.courses">
                        {{course.name}}<span ng-if="course.closed"> [closed]</span>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
