<h3>
    <a ng-href="#/events/{{event.id}}">{{event.name}}</a>
</h3>

<dl class="dl-horizontal">

    <dt>Description</dt>
    <dd>{{event.description}}</dd>

    <!-- TODO: Find better name -->
    <dt>Cutoff number</dt>
    <dd>{{event.cutoffNumber}}</dd>

    <dt>Date</dt>
    <dd ng-if="event.cutoffDate">Cut-off on <strong>{{event.cutoffDate|date:mediumDate}}</strong></dd>
    <dd ng-if="event.startDate == event.endDate">Event on <strong>{{event.startDate|date:mediumDate}}</strong></dd>
    <dd ng-if="event.startDate != event.endDate">Starts on <strong>{{event.startDate|date:mediumDate}}</strong></dd>
    <dd ng-if="event.startDate != event.endDate &amp;&amp; event.endDate">Ends on <strong>{{event.endDate|date:mediumDate}}</strong></dd>

    <dt></dt>
    <dd ng-if="ctrl.canJoin()" ng-switch on="ctrl.hasJoined(user)">
        <form role="form" class="form-inline" name="joinForm" ng-switch-when="false">
            <div class="form-group" ng-if="event.visibility == 'private'">
                <label class="sr-only" for="exampleInputEmail2">password</label>
                <input name="password" type="password" id="password" class="form-control" ng-model="ctrl.password" required="true" placeholder="password" ng-change="ctrl.wrongPassword = false"/>
            </div>
            <button type="submit" class="btn btn-default" ng-click="ctrl.add(user, ctrl.password)">
                Join Event
            </button>
            <p class="text-danger" ng-if="ctrl.wrongPassword">
                Wrong password!
            </p>
        </form>
        <button type="submit" class="btn btn-default" ng-click="ctrl.remove(user)" ng-switch-when="true">
            Leave Event
        </button>
    </dd>
</dl>
<!--<div class="fb-share-button" data-href="#/events/{{event.id}}" data-width="100"></div>-->