<div oep-event="ctrl.event" oep-user="ctrl.currentUser.info"></div>

<!--
<input type="image" ng-click="ctrl.share(ctrl.event.id)" src="/lib/sharingIcons/facebook.png"><br/>
Click to Share on Facebook
<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>-->

<h3>Participants Ranked by {{ctrl.rankedBy.label}}<em ng-if="ctrl.event.frozenAt"> on {{ctrl.event.frozenAt|date:'medium'}}</em></h3>
<table class="table table-striped ranks">
    <thead>
        <tr>
            <th colspan="3"></th>
            <th colspan="2">Total</th>
            <th colspan="2">Treehouse</th>
            <th colspan="2">Code School</th>
            <th colspan="2">Code Combat</th>
            <th colspan="1"></th>
        </tr>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Badges</th>
            <th>Score</th>
            <th>Badges</th>
            <th>Points</th>
            <th>Badges</th>
            <th>Points</th>
            <th>Badges</th>
            <th>Points</th>
            <th>All Badges</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="12" ng-show="!ctrl.event.stats || ctrl.event.stats.length == 0">
                Nobody joined this event yet.
            </td>
        </tr>
        <tr ng-repeat="student in ctrl.event.stats" ng-class="{'last': ($index + 1) == ctrl.event.cutoffNumber, 'event-out': ($index + 1) > ctrl.event.cutoffNumber}">
            <td>{{$index + 1}}</td>
            <td class="school-crest">
                <img ng-if="ctrl.schools[student.schoolId].iconUrl" ng-src="{{ctrl.schools[student.schoolId].iconUrl}}" ng-attr-alt="from {{ctrl.schools[student.schoolId].name}}" ng-attr-title="{{ctrl.schools[student.schoolId].name}}">
            </td>
            <td>
                <a ng-href="#/user/{{student.id}}">
                    {{student.name | limitTo: 20}}
                </a>
            </td>
            <td>{{student.totalBadges}}</td>
            <td>{{student.score}}</td>
            <td>{{student.treeHouse.badges.length || 0}}</td>
            <td>{{student.treeHouse.points || 0}}</td>
            <td>{{student.codeSchool.badges.length || 0}}</td>
            <td>{{student.codeSchool.points || 0}}</td>
            <td>{{student.codeCombat.badges.length || 0}}</td>
            <td>{{student.codeCombat.points || 0}}</td>
            <td class="badge-list">
                <img ng-repeat="badge in student.treeHouse.badges" ng-src="{{badge.iconUrl}}" alt="{{badge.name}}" title="{{badge.name}}" class="badge-thumbnail" />
                <br ng-if="student.treeHouse.badges.length > 0" />
                <img ng-repeat="badge in student.codeSchool.badges" ng-src="{{badge.iconUrl}}" alt="{{badge.name}}" title="{{badge.name}}" class="badge-thumbnail" />
                <br ng-if="student.codeSchool.badges.length > 0" />
                <img ng-repeat="badge in student.codeCombat.badges" ng-src="{{badge.iconUrl}}" alt="{{badge.name}}" title="{{badge.name}}" class="badge-thumbnail" />
            </td>
        </tr>

        <tr ng-if="ctrl.event.cursor" class="more">
            <td colspan="11"><a class="btn btn-primary" ng-click="ctrl.getMore()">More</a>
            </td>
        </tr>

    </tbody>
</table>
