<div class="well clearfix" ng-if="info">
    <div class="report-card codecombat">


        <h1>
            <span ng-if="isCurrentUser">Your </span>
            Code Combat arenas
        </h1>

        <p ng-if="info.courses.inProgress|oepEmpty">No progress yet.</p>

        <div ng-if="!(info.courses.inProgress|oepEmpty)">
            <div class="row">
                <div ng-repeat="(name, arena) in info.courses.inProgress"
                    class="col-xs-12 col-md-6 arena"
                >
                    <div class="row">
                        <div class="col-xs-4">
                            <img alt="{{arena.name}}"
                                ng-src="{{arena.iconUrl}}"
                                title="participating to {{arena.name}}"
                            />
                        </div>
                        <div class="col-xs-8">
                            <h4>{{arena.name}}</h4>
                            <p>{{arena.points}} points</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>